@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1>Welcome</h1>
	<p>EMPIEZA ¡AHORA!</p>
	<img src="~/imgs/R.png" alt="Logo de la aplicación">
	<p class="Clase1">El Mundo Necesita Gente que Ame lo que Hace</p>
	<button type="button" class="btn btn-success">Ver Carreras</button>
	<button type="button" class="btn btn-info">Sobre Nosotros</button>
</div>
